<section id="instagram">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <p class="custom-p-small mt-5">INSTAGRAM</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mx-auto text-center mt-5">
                <h2 class="custom-h2 mb-5 animated-text">
                    <%= translation.instagram %>
                </h2>
            </div>
        </div>
    </div>
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-6 text-center mt-5">
                <div class="elliptical-link-container elliptical-link-container-big">
                    <div class="ellipse ellipse-big"></div>
                    <img class="rotate-15 img-fluid elliptical-link" style="width: 100%;" src="img/ig-01.jpg"
                        alt="Design Studio">
                </div>
                <p class="pt-5"><a
                        class="custom-p fs-3 link-dark link-underline-dark custom-h2 link-underline-opacity-0 custom-underline me-2"
                        href="https://www.instagram.com/designkuhn/" target="_blank">@designkuhn</a></p>
                <p class="custom-p fs-5"><%- translation.instagramLink1 %></p>
            </div>
            <div class="col-md-6 text-center mt-5">
                <div class="elliptical-link-container elliptical-link-container-big">
                    <div class="ellipse ellipse-big"></div>
                    <img class="rotate-15 img-fluid elliptical-link" style="width: 100%;" src="img/ig-02.jpg"
                        alt="Design Studio">
                </div>
                <p class="pt-5"><a
                        class="custom-p fs-3 link-dark link-underline-dark custom-h2 link-underline-opacity-0 custom-underline me-2"
                        href="https://www.instagram.com/homedesignkuhn/" target="_blank">@homedesignkuhn</a></p>
                <p class="custom-p fs-5"><%- translation.instagramLink2 %></p>
            </div>
        </div>
    </div>
</section>