h1, h2, h3 {
    font-family: MakLight;
}

svg {
    vertical-align: middle;
    margin-top: -10px;
}

p, a {
    font-family: Montserrat;
}

img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.disabled-link {
    pointer-events: none;
    opacity: 0.4 !important;
}

.caps {
    text-transform: uppercase;
}

.custom-btn-close {
    --bs-btn-close-bg: unset !important;
    --bs-btn-close-focus-shadow: unset !important;
}

section {
    margin: auto;
}

.carousel, .carousel-item {
    height: 270px;
}

.carousel-caption-custom {
    top: 50%;
    transform: translateY(-50%);
}

.no-shadow {
    box-shadow: none;
}

.nav-lnk {
    padding: 0 !important;
    margin: 8px;
}

.navbar {
    position: relative;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1%;
    height: 1px;
    background-color: black;
    transition: width 3s ease;
}

body.loaded .navbar::after {
    width: 100%;
}

.custom-underline {
    position: relative;;
}

.custom-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

.custom-underline:hover::after {
    width: 100%;
}

.link-footer {
    margin-bottom: 10px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;

}

.copyright {
    font-size: small;
    padding-left: 20px;
}

.custom-mb {
    margin-bottom: 180px;
}

.custom-mb-horeca {
    margin-bottom: 0px;
}

@media (max-width: 1200px) {
    .custom-mb-horeca {
        margin-bottom: 140px;
    }
}

.mb-myself {
    margin-bottom: 180px;
}

@media (max-width: 1200px) {
    .mb-myself {
        margin-bottom: 60px;
    }
}

.custom-mt {
    margin-top: 180px;
}

.custom-ms {
    margin-left: 180px;
}

.custom-ps {
    padding-left: 200px;
}

.custom-line { 
    display: block;
    border-top: 1px solid black;
}

.custom-form .form-control{
    border: none;
    border-bottom: 0.5px solid black;
    border-radius: 0;
}

.custom-form .form-control:focus{
    box-shadow: none;
    border-bottom: 2px solid black;

}

.custom-form-feedback .form-control{
    border: 0.5px solid black;
    border-radius: 0.5;
}

.custom-form-feedback .form-control:focus{
    box-shadow: none;
    border: 2px solid black;

}

.modal-footer .btn-block {
    width: 100%;
}
  
.custom-container {
    padding: 0 25px;
    margin: auto;
}

@media (max-width: 1024px) {
    .custom-container {
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .custom-container {
        padding: 0 25px
    }
}

.custom-bold {
    font-weight: 250;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.custom-grid-item {
    padding: 10px;
    overflow: hidden;
}

.custom-p-small {
    font-family: Montserrat;
    font-weight: 300;
}

.custom-input {
    font-family: Montserrat;
    font-weight: 300;
}

.custom-p-logo {
    font-family: Montserrat;
    font-weight: 100;
    font-size: 0.9rem;
}

.custom-p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: normal;
}

@media (max-width: 990px) {
    .custom-p {
        font-size: 1.2rem;
    }
}

@media (max-width: 590px) {
    .custom-p {
        font-size: 1rem;
    }
}

.custom-p-big {
    font-size: 1.5rem;
    font-weight: 200;
}

@media (max-width: 992px) {
    .custom-p-big {
        font-size: 1.3rem;
        font-weight: 300;
    }
}

.custom-h2 {
    font-family: MakLight;
    font-size: 3rem;
}

@media (max-width: 1200px) {
    .custom-h2 {
        font-size: 2.3rem;
    }
}

@media (max-width: 1200px) {
    .custom-h2-small {
        font-size: 1.6rem;
        font-weight: 100;
    }
}

.rotate-15 {
    transform: rotate(5deg);
    /* transition: transform 0.3s ease; */
}

.parallax-portfolio-container {
    overflow: hidden;
    height: 400px;
}

.parallax-portfolio {
    transition: transform 0.5 ease;
}

.parallax-bg {
    background-image: url('../img/bg.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax-bg {
        background-attachment: scroll;
    }
}

/* ellipse */
.elliptical-link-container {
    display: inline-block;
    position: relative;
}

.ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-13deg);
    width: 270px;
    height: 117px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    transition: background-color 0.5s ease;
}

.ellipse-horeca {
    width: 324px;
    height: 140.4px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.ellipse-arrow {
    width: 162px;
    height: 70.2px;
}

@media (max-width: 820px) {
    .ellipse {
        width: 250px;
        height: 108px
    }
    
}

.ellipse-big {
    width: 420px;
    height: 180px;
    z-index: 2;
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

.ellipse-second {
    transform: translate(-50%, -50%) rotate(-2deg);
}


.elliptical-link {
    text-decoration: none;
    color: black;
    position: relative;
}

.ellipse-btn {
    cursor: pointer;
}

/* Animations */

.anim-container {
    overflow: hidden;
    position: relative;
}

.text-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: slideUp 1.8s ease;
}

.custom-h2 {
    margin: 0;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated-text {
    opacity: 0;
}

.animate {
    animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slowShowUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated-image {
    opacity: 0;
}

.animate-image {
    animation: slowShowUp 1.5s ease-out forwards;
}

.about-img {
    opacity: 0;
    max-width: 150px;
    width: 1%;
}

.about-animate-grow {
    animation: growImg 2s forwards;
}

@keyframes growImg {
    0% {
        width: 1%;
    }
    100% {
        width: 9%;
    }
}

.img-placeholder {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.img-fluid-big {
    width: 100%;
}

@media (max-width: 1200px) {
    .img-fluid-big {
        width: 75%;
    }
}

.animated-title {
    position: absolute;
    top: 50%; 
    transform: translate(-50%, -50%);
}

.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
}

.animated-title > div {
    top: 0;
}

@keyframes showText {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

.animated-title > div div {
    padding: 2vmin 0;
    position: absolute;
}

.animated-title > div div {
    animation: showText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}